@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding: 15px;
    padding-top: 0px;
}

i {
    font-size: 1.2rem;
    color: black;
    transition: all 0.3s;
}

.container {
    position: relative;
    /* border: 1px solid black; */
    padding-bottom: 20px;
    width: 15dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: black;
}

.number {
    border-bottom: 1px solid black;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Oswald", Poppins, sans-serif;
}

.btn {
    padding: 10px 0;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.counterUp {
    position: relative;
    border: 1px solid black;
    background-color: transparent;
}

.counterUp::before {
    content: '';
    height: 100%;
    width: 0%;
    background-color: lime;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.25s linear;
    z-index: -1;
}

.counterUp:hover::before {
    width: 100%;
}

.counterDown {
    position: relative;
    border: 1px solid black;
    background-color: transparent;
}

.counterDown::before {
    content: '';
    height: 100%;
    width: 0%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.25s linear;
    z-index: -1;
}

.counterDown:hover::before {
    width: 100%;
}

.resetBtn {
    position: relative;
    border: 1px solid black;
    background-color: transparent;
}

.resetBtn::before {
    content: '';
    height: 100%;
    width: 0%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.25s linear;
    z-index: -1;
}

.resetBtn:hover::before {
    width: 100%;
}

.resetBtn:hover>i {
    color: white;
    transform: rotate(360deg);
}

.custom-counter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ntahlah {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ntahlah>button {
    font-family: Poppins, sans-serif;
    color: black;
    font-weight: 500;
    padding: 8px 25px;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.ntahlah>button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background-color: rgb(133, 217, 247);
    top: 0;
    left: 0;
    z-index: -1;
    transition: height 0.3s ease;
}

.ntahlah>button:hover::before {
    height: 100%;
    top: auto;
    bottom: 0;
}

.ntahlah>input {
    padding: 8px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    width: 7dvw;
    text-align: center;
}

.ntahlah>input:focus {
    outline: none;
}

.multiplier-list {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 15px;
}

.multiplier-list>button {
    background-color: transparent;
    padding: 5px 21px;
    border: 1px solid black;
    font-family: "Oswald", Poppins, sans-serif;
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-counter>button {
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 525;
    background-color: transparent;
    border: 1px solid black;
    padding: 8px 0;
    cursor: pointer;
    outline: none;
}

.custom-counter>button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background-color: rgb(230, 77, 60);
    top: 0;
    left: 0;
    z-index: -1;
    transition: height 0.3s ease;
}

.custom-counter>button:hover:before {
    height: 100%;
    top: auto;
    bottom: 0;
}

.custom-counter>button:hover {
    color: white;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.status>p:nth-child(1) {
    font-family: Poppins, sans-serif;
}

.status>p:nth-child(2) {
    font-family: "Oswald", Poppins, sans-serif;
    color: rgb(75, 133, 184);
}